######################################################################
### NHN Standard configuration file based on InnoDB and 4GB system ###
### (Please leave a comment whenever you edit this configuration)  ###
######################################################################

[client]
socket = /engn001/mysql/data/mysql.sock
default_character_set=utf8

[mysql]
default_character_set=utf8
user=root
[mysqld_safe]
#log-error=/engn001/mysql/logs/mysqld.err

[mysqld]
user = root
basedir = /engn001/mysql
datadir = /engn001/mysql/data
#tmpdir  = /engn001/mysql/data/tmp
socket  = /engn001/mysql/data/mysql.sock
#init_connect = 'CALL mysql.login_trigger();'

log-error=/engn001/mysql/logs/mysqld.err
character_set_server=utf8
# character-set-client-handshake=FALSE
default_storage_engine=InnoDB
skip_name_resolve
#federated
#default-authentication-plugin=sha256_password
#ssl-ca=/home1/irteam/db/mysql/data/ca.pem
#ssl-cert=/home1/irteam/db/mysql/data/server-cert.pem
#ssl-key=/home1/irteam/db/mysql/data/server-key.pem
#sha256_password_private_key_path=/home1/irteam/db/mysql/data/private_key.pem
#sha256_password_public_key_path=/home1/irteam/db/mysql/data/public_key.pem

max_connections = 3000
max_connect_errors = 999999
max_allowed_packet = 1G
max_heap_table_size = 1M
tmp_table_size = 1M
binlog_cache_size = 1M
thread_cache_size = 128
group_concat_max_len=102400
# wait_timeout = 30
lock_wait_timeout = 60
max_prepared_stmt_count = 1048576

table_open_cache = 2000
table_open_cache_instances = 16

sort_buffer_size = 1M
join_buffer_size = 1K
read_buffer_size = 2M
read_rnd_buffer_size = 16M
#query_cache_type = OFF
#query_cache_size = 0
#query_cache_limit = 0

# MyISAM options
#key_buffer_size = 32M
#bulk_insert_buffer_size = 64M
#myisam_sort_buffer_size = 128M
#myisam_max_sort_file_size = 10G
#myisam_repair_threads = 1
#myisam_recover
#ft_min_word_len = 4

# INNODB options
innodb_ft_min_token_size=2
innodb_buffer_pool_size = 200M         # 50 ~ 70% of main memory
innodb_page_size = 16384
innodb_buffer_pool_instances = 8
innodb_flush_neighbors = 1
innodb_purge_threads = 1
innodb_log_buffer_size = 8M
innodb_data_file_path = ibdata1:512M:autoextend
innodb_io_capacity = 800
innodb_read_io_threads = 4
innodb_write_io_threads = 4
# innodb_log_group_home_dir = /home1/irteam/db/mysql/logs
innodb_log_file_size =100M
innodb_log_files_in_group = 2
#innodb_support_xa=1
innodb_thread_concurrency = 0
innodb_lock_wait_timeout = 60
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_max_dirty_pages_pct = 75
#innodb_file_format = barracuda
innodb_file_per_table
innodb_strict_mode=1
innodb_stats_on_metadata = OFF
innodb_adaptive_hash_index = ON
# innodb_force_recovery=1
innodb_buffer_pool_dump_at_shutdown = OFF
innodb_buffer_pool_load_at_startup = OFF

# PLUGIN options
# plugin-load=thread_pool.so
# thread_pool_size=24

#performance_schema
performance_schema = ON

# Loging Configuration
log-bin=mysql-bin
log-bin=/engn001/mysql/logs/binlog/mysql-bin
#log_slave_updates
max_binlog_size=1G
expire_logs_days=5
slow_query_log
slow_query_log_file=/engn001/mysql/logs/slow.log
long_query_time=1
log_output=FILE
binlog_format=MIXED
sysdate-is-now
#log_warnings
#log_slow_admin_statements
#log_queries_not_using_indexes

# Replication setting
server-id     = 2 
relay-log     = relay-bin
master_info_repository = TABLE
relay_log_info_repository = TABLE
#report_host=infmdb-tst001
# relay_log_recovery=ON
read_only
#rpl_semi_sync_master_enabled = 0
#rpl_semi_sync_slave_enabled = 0
#rpl_semi_sync_master_timeout = 500
# gtid-mode = ON
# enforce-gtid-consistency
